<mat-card>
<form (submit)="onCreatePost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text" name="title" ngModel required #title="ngModel" placeholder="Post Title">
    <mat-error *ngIf="title.invalid">Please Enter a post title.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="4" name="content" ngModel required #content="ngModel" placeholder="Post Content"></textarea>
    <mat-error *ngIf="content.invalid">Please Enter a post content.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="dark" type="submit">Save Post</button>
</form>
</mat-card>
